body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  // -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  line-height: 1.5;
  margin-top: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  text-transform: uppercase;
  white-space: nowrap;
  footer & {
    color: $base-body-color;
    @include font-smoothing;
  }
}

h1 {
  font-size: $base-font-size * 1.1;
  line-height: 2;
}

h2 {
  font-size: $base-font-size * .9;
  letter-spacing: 1.7px;
  line-height: 1.8;
}

h3 {
  font-family: $header-font-family;
  font-size: $base-font-size * 1.1;
  margin-bottom: $base-line-height;
  // letter-spacing: 1px;
  // @include transform(scale(1.2,1));
  // -webkit-text-stroke-width: 1px;
}

h4 {
  font-size: $base-font-size * 0.9;
  letter-spacing: 1px;
}

h5 {
  font-size: $base-font-size * 1.25;
}

h6 {
  font-size: $base-font-size;
}

p {
  // padding: 0 5px;
  line-height: $base-line-height * 1.1;
  font-size: $base-font-size * 0.85;
  margin: 0 0 ($base-line-height);
}

a {
  text-transform: uppercase;
  color: $base-font-color;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $base-font-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0 0;
  &.space {
    @include clearfix;
    border-width: 0;
    margin: $base-line-height 0;
  }
  footer & {border-bottom-color: $base-body-color;}
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

footer {
  @include font-smoothing;
  a {
    color: white;
    text-transform: none;
  }
  ul {
    color: $base-body-color;
    text-transform: none;
  }
}
