// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$body-font: "aktiv-grotesk-std", Helvetica, "Arial Black", sans-serif;
$header-font: 'Idlewild SSm A', 'Idlewild SSm B', Helvetica, "Arial", sans-serif;

$base-font-family: $body-font;
$header-font-family: $header-font;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);
$base-section-margin: $base-line-height * 2.2;
$base-divider-margin: $base-line-height * 3.2;

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$yellow: #d1c1a3;
$dark-gray: #181818;
$medium-gray: #bbb;
$light-gray: #eee;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $yellow;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($yellow, 15);

// Border color
$base-border-color: $dark-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Background Colors
$base-bg-color: $dark-gray;
$alt-bg-color: $yellow;