@import 'init';

//// SHAME - random styles go here. REFACTOR & OBJECTIFY! :) ////

.poo {
  @include media($desktop) {
    color: red;
  }
}

header, footer {
  position: relative;
  @include clearfix;
  width: 100%;
}

header {background-color: $alt-bg-color;}
footer {background-color: $base-bg-color;}

.bottom-border {
  @include position(absolute, 0 0px 0px 0px);
  height: 150px;
  background-color: $base-body-color;
  z-index: 1;
}

.tracking-4 {letter-spacing: 3px;}
.tracking-1 {
  position: relative;
  letter-spacing: 1.5px;
  left: -1px;
}

section {
  @include outer-container;
  text-align: center;
  margin-top: $base-section-margin;
  margin-bottom: $base-section-margin;
  &.wide, &.divider {max-width: 55em;}
  &.divider {margin-bottom: $base-section-margin * .5;}
  &.dot-divider {
    margin-top: $base-divider-margin * 0.6;
    margin-bottom: $base-divider-margin;
  }
  @include media($tablet) {
    @include box-sizing(content-box);
    padding: 0 $base-line-height;
    &.wide {padding: 0 $base-line-height / 2;}
    &.divider {padding: 0 $base-line-height / 2;}
  }
}

.title-info {
  position: relative;
  z-index: 10;
  @include media($tablet) {
    .title-image {padding: 0 $base-line-height * 2;}
  }
}

img {
  width: 100%;
  margin-bottom: $base-line-height;
}

.dot {font-size: 55px;}

.button {
  &.submit {
    display: block;
    width: 100%;
    background: #000;
    color: white;
    &:not(:disabled) {
      &:hover {background: tint($dark-gray, 5%);}
      &:active {background: #000;}
    }
  }
}