@import 'init';

//// SHAME - random styles go here. REFACTOR & OBJECTIFY! :) ////

.poo {
  @include media($desktop) {
    color: red;
  }
}

header {
  @include clearfix;
  width: 100%;
}

section {
  @include outer-container;
  &.wide {
    max-width: 55em;
  }
}

img {width: 100%;}